<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trimestre 2</title>
    <link rel="stylesheet" type="text/css" href="../styles/style1.css"></link>
    <link rel="stylesheet" type="text/css" href="../styles/style2.css"></link>
</head>
<body>
    <div class="conteneur">
        <header>
            <img src="../pictures/logo.png" alt="">
            <a href="graphs.html" class="float">Graphs</a>
            <nav class="nav1 nav">
                <ul><!--
                --><li><a href="trimestre1.html" class="trimestre">1er Trimestre</a></li><!--
                --><li><a href="trimestre2.html" class="trimestre colormenu">2ème Trimestre</a></li><!--
                --><li><a href="trimestre3.html" class="trimestre">3ème Trimestre</a></li>
                </ul>
            </nav>
               
            <nav class="nav2 nav">
                <ul class="ul1"><!--
                    --><li><a href="#" class="classe colormenu">6ème</a></li><!--
                    --><li><a href="#" class="classe colormenu">5ème</a></li><!--
                    --><li><a href="#" class="classe colormenu">4ème</a></li><!--  
                    --><li><a href="#" class="classe colormenu">3ème</a></li><!--  
                    --><li><a href="#" class="classe colormenu">STC</a></li><!--  
                    --><li><a href="#" class="classe colormenu">PS</a></li><!--  
                    --><li><a href="#" class="classe colormenu">TS</a></li>
                </ul>
            </nav>
           
        </header>

        <section>
            <h3 id="trim"></h3>
            <h3 id="niv"></h3>
            <h4 id="nom"></h4>
            <div class="liste">
                <ul>
                   
                </ul>
            </div>
        </section>
    </div>
    <script src="../scripts/script1.js"></script>
    <script src="../scripts/script2.js"></script>
</body>
</html>